{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Members</title>
    <link rel="stylesheet" href="{% static 'index/style.css' %}">
    <link rel="stylesheet" href="{% static 'members/members.css' %}">
    </head>
    <body>
        <header>
            <nav class="gimmehead">
                <ul class="headtext">
                    <li><a href="/"><strong>Sandy's Hack Club</strong></a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/workshops">Workshops</a></li>
                    <li><a href="/members">Members</a></li>
                    <li><a href="/calendar">Calendar</a></li>
                    <li><a href="https://clubs.hackclub.com/auth/member?join=3RKYP5">Join the Club</a></li>
                </ul>
            </nav>
        </header>
        <h3 class="memHead">Members</h3>
        <div class="memberList">
            <div class="cropcircle">
                <img class="photos" src="{% static 'members/BFBM.webp' %}">
                <h1>Henry</h1>
                <h1>Head of club</h1>
            </div>
            <div class="cropcircle">
                <img class="photos" src="{% static 'members/LynPfpTmp.png' %}">
                <h1>Lyn</h1>
                <h1>Dev of Site</h1>
                <h1>Co-Head of Club</h1>
            </div>
        </div>
    </body>
</html>