{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Members</title>
    <link rel="stylesheet" href="{% static 'index/style.css' %}">
    <link rel="stylesheet" href="{% static 'members/members.css' %}">
    </head>
    <body>
        <header>
            <nav class="gimmehead">
                <ul class="headtext">
                    <li><a href="/"><strong>Sandy's Hack Club</strong></a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/workshops">Workshops</a></li>
                    <li><a href="/members">Members</a></li>
                    <li><a href="/calendar">Calendar</a></li>
                </ul>
            </nav>
        </header>
        <div class="cropcircle"></div><img class="photos" src="{% static 'members/BFBM.webp' %}"></div>
    </body>
</html>