body {
    display: grid;
    place-items: center;
    height: 100vh;
}
.getBackUpYouFool {
    display: block;
    color: #20DFFF;
    text-decoration: none;
    padding: 10px 18px;
    font-size: 20px;
    border-radius: 20px;
    white-space: nowrap;
}
.hole {
    width: 30%;
    height: auto;
}