{% load static %}
<body>
    <head>
        <meta charset="UTF-8">
        <title>Sandy Hack Club</title>
    <link rel="stylesheet" href="{% static 'index/style.css' %}">
    </head>
    <div class="site-container">
        <header>
            <nav class="gimmehead">
                <ul class="headtext">
                    <li><a href="/"><strong>Sandy's Hack Club</strong></a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/workshops">Workshops</a></li>
                    <li><a href="/members">Members</a></li>
                    <li><a href="/calendar">Calendar</a></li>
                </ul>
            </nav>
        </header>

        <h3 class="welcome">Welcome to the Sandy Hack Club.</h3>

        <div class="hackclub">
            <a href="https://hackclub.com/">
                <img src="https://assets.hackclub.com/banners/2026.svg" alt="Hack Club" width="200"/>
            </a>
        </div>
    </div>
</body>
