{% load static %}
<body>
    <head>
        <meta charset="UTF-8">
        <title>Sandy Hack Club</title>
    <link rel="stylesheet" href="{% static 'index/style.css' %}">
    </head>
    <div class="site-container">
        <header>
            <nav class="gimmehead">
                <ul class="headtext">
                    <li><a href="/"><strong>Sandy's Hack Club</strong></a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/workshops">Workshops</a></li>
                    <li><a href="/members">Members</a></li>
                    <li><a href="/calendar">Calendar</a></li>
                    <li><a href="https://clubs.hackclub.com/auth/member?join=3RKYP5">Join the Club</a></li>
                </ul>
            </nav>
        </header>
        <div class="welcome">
            <h1>Welcome to the Sandy Hack Club.</h1>
            <h2>We're glad to have you here.</h2>
        </div>
        <h1 class="header">See what we've been doing.</h1>
        <div class="projects">
            <div class="item">
                <img class="thumb" src="https://picsum.photos/id/22/150/100">
                <h2>Some Cool Thing</h2>
                <h3 class="description">Description that is very long and cool and awesome and amazing so yeah</h3>
            </div>
            <div class="item">
                <img class="thumb" src="https://picsum.photos/id/26/150/100">
                <h2>Another Cool Thing</h2>
                <h3 class="description">Description that is very long and cool and awesome and amazing so yeah</h3>
            </div>
            <div class="item">
                <img class="thumb" src="https://picsum.photos/id/36/150/100">
                <h2>Very Awesome Thing</h2>
                <h3 class="description">Description that is very long and cool and awesome and amazing so yeah</h3>
            </div>
        </div>
        <li><a href="/projects" class="moar">More Projects</a></li>
        <div class="hackclub">
            <a href="https://hackclub.com/">
                <img src="https://assets.hackclub.com/banners/2026.svg" alt="Hack Club" width="200"/>
            </a>
        </div>
    </div>
</body>
