* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-color: #081c15;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.gimmehead {
    background-color: #081c15;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin: 20px auto;
    border-radius: 20px;
}
.headtext {
    list-style: none;
    display: flex;
    justify-content: flex-start;
}
.headtext a{
    display: block;
    color: #2d6a4f;
    text-decoration: none;
    padding: 14px 20px;
    font-size: 30px;
    transition: background-color 0.3s ease;
    border-radius: 20px;
}
.headtext a:hover {
    background-color: #003566;
    color: #FCF1D0;
    border-radius: 20px;
}
.welcome {
    position: relative !important;
    color: #003566 !important;
    left: 1% !important;
}
.hackclub {
    position: relative !important;
    left: 2% !important;
} /* move down plssss */